/* Fully transparent background for the bar */
window#waybar {
  background-color: transparent;
  margin-left: 5px;
}


/* Style for modules */
#clock,
#pulseaudio,
#cpu,
#memory,
#network,
#tray,
#workspaces {
  color:#fefaf0;
  padding: 6px 10px;
  margin: 0 5px;
  background-color: #111622;  /* semi-transparent background */
/*  border: 2px solid #BBE3B1;*/
  border-radius: 5px;
  font-size: 13.3px;
  font-weight: 600;
  font-family: "FiraCode Nerd Font Semibold", "FiraCode Nerd Font";
}

/* Hover effects */
#clock:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#workspaces:hover {
  background-color: rgba(98, 114, 164, 0.9);

}


/* Specific colors per module (optional) */
/*#clock { 
    color: #B5C0E6;
    margin-left: 15px;
}
#network { color: #B5C0E6 ; }
#cpu { color: #B5C0E6; } 
#memory { 
    color: #B5C0E6; 
    margin-right: 15px;
}
#pulseaudio { color: #B5C0E6; }
#tray { color: #B5C0E6; }
*/

/* Workspaces styling */
#workspaces button {
  background: transparent;
  color: #f8f8f2;
  border: none;
  padding: 0 8px;
  margin: 0 2px;
  font-size: 16px;
  transition: color 0.3s ease;
}

#workspaces button.active {
  color: #8FAFEF;
}

#workspaces button.special {
  color: #8FAFEF;
}

/* Occupied workspace (not focused but has windows) */
#workspaces button.visible:not(.active) {
  color: #ffffff; /* pure white */
}

/* Empty workspaces */
#workspaces button.empty {
  color: #888888; /* optional: dimmer for clarity */
}

